{% include 'header.html' %}
<div id="catalog-data">
    <ul>
        {% for subcategory in content_data.subcategories %}
        <li><a href="/categories/{{ subcategory.id_category }}/">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
  {{ good.id }}
  {{ good.name }}
  {{ good.price }}
</div>
<div id="goods-data">
    <ul>
        {% for good in content_data.goods %}
        <li><a href="/goods/{{good.id}}/">{{ good.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% include 'footer.html' %}
